.main{
  .main-txt-title {
    .char {
      opacity: 0;
    }
    &.active {
      .char {
        text-shadow: 0 0 1px rgba(255,255,255,0.1);
        animation: charAnimation .4s 0s ease both;
        @for $i from 1 to 44 {
          &:nth-child(#{$i}) { animation-delay: 0.53s + ($i * 0.03s) }
        }
      }
    }
  }

  .main-txt-desc {
    .char {
      opacity: 0;
    }
    &.active{
      .char {
        text-shadow: 0 0 1px rgba(255,255,255,0.1);
        animation: charAnimation .4s 0s ease both;
      }
    }
    &.active.ko {
      .char {
        @for $i from 1 to 17 {
          &:nth-child(#{$i}) { animation-delay: 2.2s + ($i * 0.03s) }
        }
        @for $i from 18 to 97 {
          &:nth-child(#{$i}) { animation-delay: 1.99s + ($i * 0.03s) }
        }
      }
    }
    &.active.en {
      .char {
        @for $i from 1 to 40 {
          &:nth-child(#{$i}) { animation-delay: 2.2s + ($i * 0.03s) }
        }
        @for $i from 41 to 119 {
          &:nth-child(#{$i}) { animation-delay: 1.66s + ($i * 0.03s) }
        }
        @for $i from 119 to 199 {
          &:nth-child(#{$i}) { animation-delay: 0.76s + ($i * 0.03s) }
        }
      }
    }
    &.active.ja {
      .char {
        @for $i from 1 to 22 {
          &:nth-child(#{$i}) { animation-delay: 2.2s + ($i * 0.03s) }
        }
        @for $i from 22 to 88 {
          &:nth-child(#{$i}) { animation-delay: 1.9s + ($i * 0.03s) }
        }
      }
    }
    &.active.zh {
      .char {
        @for $i from 1 to 14 {
          &:nth-child(#{$i}) { animation-delay: 1.26s + ($i * 0.03s) }
        }
        @for $i from 14 to 72 {
          &:nth-child(#{$i}) { animation-delay: 1.05s + ($i * 0.03s) }
        }
      }
    }
  }
}
