@import "../../config/init";
@import "../../config/variables";
@import "../../config/mixins";
@import "../../config/animation";

body {
  overflow-x: hidden;

}
  
.desktop-inline {
  display: inline;
}

.desktop-block {
  display: block;
}


@include mq("mobile") {
  .desktop-inline {
    display: block;
  }
  .desktop-block {
    display: inline;
  }
}

.loader-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  z-index: 99;
  .loader {
    width: 100px;
  }
}
.lan-list-none-wrap {
  position: fixed;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.lan-hide-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


// .slick-slider{
//   position: relative;
//   overflow: hidden;
//   padding-bottom: 5px;
//   .slick-arrow {
//     position: absolute;
//     bottom: -3px;
//     width: 24px;
//     height: 24px;
//     border: 0;
//     font-size: 0;
//     outline: none;
//     @include trs3s;
//     &.slick-prev {
//       left: 0;
//       background: url(../../images/left50.png) no-repeat center center/8px;
//       &:hover {
//         background-image: url("../../images/left.png");
//       }
//     }
//     &.slick-next {
//       right: 0;
//       background: url(../../images/right50.png) no-repeat center center/8px;
//       &:hover {
//         background-image: url("../../images/right.png");
//       }
//     }
//   }
//   .slick-slide {
//     float: left;
//   }
//   .slick-dots {
//     justify-content: center;
//     li {
//       width: auto;
//       margin-top: 50px !important;
//       button {
//         display: inline-block;
//         width: 8px;
//         height: 8px;
//         padding: 0;
//         margin: 0 3px;
//         border: none;
//         background: transparent;
//         font-size: 0;
//         background: $black2;
//         border-radius: 50%;
//         list-style: none;
//       }
//       &.slick-active {
//         button {
//           background-color: #000;
//         }
//       }
//     }
//   }
// }
.flex {
    display: flex;
    display: -ms- flex;
    display: -moz- flex;
    display: -webkit- flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    display: -ms- flex;
    display: -moz- flex;
    display: -webkit- flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}


//------------------------------------------------------------------------------
//
// HEADER
//
//------------------------------------------------------------------------------
.header {
  &-wrap {
    position: fixed;
    font-family: 'SpoqaHanSansRegular', sans-serif;;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: none;
    z-index: 99;
    transition: all .5s;
    &.header-change {
      background-color:#FFF;
    }

    @include mq("tablet") {
      width: 100%;
    }
    @include mq("mobile") {
      width: 100%;
      height: auto;
    }
    &.active {
      // background-color: #FFF;
      z-index: 1;
    }
  }
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media all and (min-width: 1024px) and (max-width: 1366px){
    max-width: 1030px;
  }
  @include mq("tablet") {
    width: 100%;
  }

  @include mq("mobile") {
    display: block;
    width: 100%;
    padding: 0;
  }

  &-logo {
    width: 110px;
    z-index: 9;

    img {
      width: 100px;
    }

    @include mq("tablet") {
      width: 88px;
    }
    @include mq("mobile") {
      display: none;
      width: 140px;
      height: 73px;
      position: absolute;
      margin-left: -80px;
      left: 58%;
      top: 3%;
    }
    &.m {
      display: none;
      animation: slideUp50Animation 1s 0s forwards cubic-bezier(.165, .84, .44, 1);
      animation-duration: 0.8s;
      @include mq("mobile") {
        display: block;
      }
    }
  }

  &-nav {
    width: calc(100% - 110px - 160px);
    text-align: right;
    z-index: 10;
    background: none;
    // @media all and (min-width: 1023px) and (max-width: 1366px){
    //   width: calc(100% - 110px - 760px);
    // }
    @include mq("tablet") {
      width: calc(100% - 70px - 140px);
    }
    @include mq("mobile") {
      position: absolute;
      width: 100%;
      background-color: #FFF;
      left: -100%;
      top: 0;
      transition: all .5s;
      z-index: 50;
      padding-top:95px;
      &.on {
        left: 0;
      }
    }

    a {
      position: relative;
      padding: 2px 4px;
      display: inline-block;
      font-size: 12px;
      font-family: 'SpoqaHanSansRegular', sans-serif;;
      color: #1d2227;
      transition: color .5s;
      -webkit-transition: color .5s;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #1d2227;
        opacity: 0;
        @include trs3s;
      }
      &:hover, &.active {
        color: #1d2227;
        font-family: 'SpoqaHanSansBold', sans-serif;;
        font-weight: bold;
        // font-weight: bold;
        &:after {
          width: 100%;
          opacity: 1;
          @include trs3s;
        }
        @include mq("mobile") {
          color: #1d2227;
          font-family: 'SpoqaHanSansBold', sans-serif;;
          font-weight: bold;
          &:after {
            width: 100%;
            opacity: 50;
            @include trs3s;
          }
        }
      }
      @include mq("tablet") {
        font-size: 1.2rem;
      }
      @include mq("mobile") {
        height: 56px;
        line-height: 50px;
        text-align: center;
        display: block;
        font-size: 14px;
        color: #1d2227;
        // color: rgba(0, 0, 0, 0.3);
        // border-bottom: 1px solid $black2;
        &:after {
          display: none;
        }
      }

      &.menu-btn {
        display: none;

        @include mq("mobile") {
          z-index: 10;
          border-bottom: none;
          position: fixed;
          top: 10px;;
          left: 10px;
          width: 42px;
          height: 42px;
          padding: 12px;
          // background-color: #6536ff;
          display: flex;
          align-items: center;
          justify-content: center;
          &.change{
            background-color: #595858;
          }
          &.on {
            background-color: transparent;
            left: 85%;
          }
        }
        .bar-wrap {
          .bar {
            display: block;
            width: 18px;
            height: 2px;
            margin-bottom: 3px;
            padding: 0;
            background-color: #fff;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
          }
        }
        &.on {
          .bar {
            background-color: #4a4a4a;
            &:nth-of-type(1) {
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -webkit-transform-origin: 10% 10%;
              transform-origin: 10% 10%;
            }
            &:nth-of-type(2) {
              opacity: 0;
            }
            &:nth-of-type(3) {
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
              -webkit-transform-origin: 10% 90%;
              transform-origin: 10% 90%;
            }
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    a + a {
      margin-right: 3%;

      @include mq("tablet") {
        margin-right: 1.8%;
      }
      @include mq("mobile") {
        margin-right: 0;
      }
    }
  }

  &-btn {
    width: 110px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    @include mq("tablet") {
      width: 70px;
    }
    @include mq("mobile") {
      background-color: #FFF;
      width: 100%;
      flex-wrap: wrap;
      position: absolute;
      left: -100%;
      top: 370px;
      padding-bottom: 10000px;
      transition: all .5s;
      

      .menu-logo{
        right: 200px;
      }

      &.on {
        left: 0;
      }
    }

    > a {
      position: relative;
      // padding: 2px 4px;
      display: inline-block;
      font-family: 'SpoqaHanSansRegular', sans-serif;;
      font-size: 12px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.39px;
      text-align: center;
      color: #1d2227;
      @include trs3s;
      &:hover, &.active {
        font-family: 'SpoqaHanSansBold', sans-serif;;
        font-weight: bold;
      }
      @include mq("tablet") {
        font-size: 1.2rem;
      }
      @include mq("mobile") {
        display: block;
        width: 100%;
        padding: 16px 0;
        font-size: 14px;
        color: #1d2227;
        // border-bottom: 1px solid $black2;
        text-align: center;
        &:hover, &.active {
          color: #1d2227;
          // font-weight: bold;
        }
      }

      &.lang {
        padding-right: 20px;
        @include trs3s;
        &:after {
          position: absolute;
          top: 2px;
          right: 0;
          content: '';
          width: 12px;
          height: 12px;
          background: url("../../images/down_black.png") no-repeat right center / contain;
          opacity: .5;
          @include trs3s;
          @include trsOriginCenter;
        }
        &:hover, &.active {
          &:after {
            opacity: 1;
            background-image: url("../../images/down_black.png");
          }
        }
        &.active {
          &:after {
            top: 2px;
            @include arrowRotate;
          }
        }
        @include mq("mobile") {
          padding-right: 0;
          &:after {
            top: 14px;
            right: 15px;
            background: url("../../images/down_grey.png") no-repeat right center / contain;
          }
          &:hover, &.active {
            &:after {
              top: 14px;
              background-image: url("../../images/down_grey.png");
            }
          }
          &.active {
            color: #1d2227;
          }
        }
      }

        

      // .small-logo {
      //   &.mobile {
      //     display: none;
      //   }
      //   @include mq('mobile'){
      //     &.mobile {
      //       display: block;
      //       position: absolute;
      //       bottom: 0;
      //     }
      //   }

      // }
    }

    .small-logo {
      // display: none;
      &.mobile {
        display: none;
      }  
      @include mq("mobile") {
        // width: 94px;
        position: absolute;
        top:140px;
        // bottom: 200px;
        right: 0px;
    
        &.mobile {
          display: block;
        }
      }
    }

    &-lang {
      width: 130px;
      background-color: #FFF;
      position: absolute;
      border-radius: 5px;
      right: 30px;
      top: 57px;
      height: 0;
      opacity: 0;
      @include trs4s;
      @include trsOriginTop;
      overflow: hidden;
      @include mq("tablet") {
        width: 94px;
      }
      @include mq("mobile") {
        width: 100%;
        left: 0;
        top: 50px;
        background-color: #FFF;
      }

      &.active {
        border: 1px solid #000;
        opacity: 9;
        max-height: 135px;
        height: 149px;
        overflow: visible;
        @include mq("mobile") {
          // height: 149px;
          border: none;
        }
      }

      a {
        display: block;
        width: 100%;
        padding: 12px 0;
        font-family: 'SpoqaHanSansRegular', sans-serif;;
        font-size: 13px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.39px;
        text-align: center;
        color: #1d2227;

        @include mq("mobile") {
          display: block;
          width: 100%;
          height: 16px;
          padding: 0 !important;
          opacity: 0.5;
          font-family: 'SpoqaHanSansRegular', sans-serif;;
          font-size: 14px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.39px;
          text-align: center;
          color: #1d2227;
          margin: 10px auto ;
        }
        &.active {
          font-family: 'SpoqaHanSansBold', sans-serif;;
          font-weight: bold;
          opacity: 1;
          @include trs3s;
          @include mq("mobile") {
            color:#1d2227;
            // border-bottom: 1px solid $black2;
            vertical-align: middle;
            font-weight: bold;
            opacity: 1;
            // margin: 15px auto 0;
          }
        }
        &:hover {
          @include trs3s;
          @include mq("mobile") {
            color: #1d2227;
            // border-bottom: 1px solid $black2;
          }
        }
      }

      li + li {
        border-top: 1px solid $white2;
      }
    }
  }
}

//------------------------------------------------------------------------------
//
// CONTAINER
//
//------------------------------------------------------------------------------
.container {
  width: 100%;
  background: #FFF;
}

.main {
  &-wrap {
    width:100%;
    position: relative;
  }

  width: 100%;
  margin: 0 auto;
  padding: 0 0 780px;

  @include mq("tablet") {
    width: 100%;
  }
  @include mq("mobile") {
    width: 100%;
    padding: 0 0 600px;
    // height: 560px;
    // padding-top: 120px;
  }
 
  .polygon1-img {
    width: 1000px;
    position: absolute;
    top:0px;
    right: 0px;
    &.web {
      display: block;
    }
    &.mobile {
      display: none;
    }

    @media all and (min-width: 1366px) and (max-width: 1700px){
        width: 700px;
}

    @media all and (min-width: 1024px) and (max-width: 1365px){
        width: 550px;
    }
    @include mq("tablet") {
      width: 450px;
    }

    @include mq("mobile") {
      width: 100%;
      top:0px;
      right: 0px;
      &.web {
        display: none;
      }
      &.mobile {
        display: block;
      }
    }

    img {
      width: 100%;
    }
  }
  .polygon2-img {
    width: 467px;
    position: absolute;
    top:800px;
    left: -5px;
    @media all and (min-width: 1024px) and (max-width: 1366px){
      left: -200px;
    }

    @include mq("tablet") {
      width: 400px;
      left: -380px;
    }
    @include mq("mobile") {
      width: 0px;
    }

    img {
      width: 100%;
      @include mq("mobile") {
        width: 0px;
      }
    }
  }

  &-txt {
    position: absolute;
    top: 290px;
    left: 20%;
    @media all and (min-width: 1024px) and (max-width: 1366px){
      left: 200px;
    }
    @include mq("tablet") {
      width: 50%;
      top: 200px;
      left: 100px;
      margin-top: 200px;
    }
    @include mq("mobile") {
      // top: 0px;
      left: 0px;
      width: 100%;
    }
    h2 .active{
      // width:50%;
      // margin: 0 auto ;
      margin-bottom: 30px;
      font-size: 52px;
      font-family: 'GothamBold', sans-serif;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      letter-spacing: -1.26px;
      color: #1d2227;
      @include mq("tablet") {
        width:70%;
      }
      @include mq("mobile") {
        width:50%;
        font-family: 'GothamBold', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.28;
        letter-spacing: -0.81px;
        text-align: center;
        color: #ffffff;     
        margin: 0 auto;
      }
    }
    .mainP{
      p{
        display: inline;
        font-family: 'SpoqaHanSansRegular', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.8;
        letter-spacing: 0.39px;
        text-align: center;
        color: #1d2227;
        
      }
      .onePass{
        font-family: 'SpoqaHanSansBold', sans-serif;
        color: #5733fe;
        margin-top: 50px;
      }
    }

    

    @include mq("tablet") {
      top: 100px;
    }
    @include mq("mobile") {
      // top: 240px;
      top: 35%;
      .mainP{
        margin-top:210px;
        text-align: center;
      }
    }
  }
}

.bns {
  &-wrap {
    background-color: #FFF;
    width: 100%;
  }

  @include layout();
  
 

  @include mq("mobile") {
    padding-right: 0px;
    padding-left: 0px;
    padding-top:120px;
  }
  .bns-about {
    margin: 30px auto 0;
    padding-bottom: 190px;
    text-align: center;
    @include titleStyle();
    @include mq("mobile") {
      margin: 0 auto;
      padding-bottom: 120px;

    }
    .bns-about-img{
      margin: 50px auto 30px;
      opacity: 0;
      @include trsX0Y100; 
      &.active {
        @include trsX0Y0;
        @include trsOp6s;
        opacity: 1;
      }
      
      img {
        @include mq("mobile") {
          width: 100%;
        }
      }
    }
    .bns-about-text p{
      font-family: 'SpoqaHanSansRegular', sans-serif;
      font-size: 12px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.92;
      letter-spacing: 0.33px;
      text-align: center;
      color: #1d2227;    
      }
  }

  .bns-paper {
    margin: 30px auto 0;
    padding-bottom:190px;
    text-align: center;
    width:670px;
    position: relative;
    z-index: 0;
    @include titleStyle();
    @include mq("mobile"){
      width:100%;
      margin: 0 auto;
      padding-bottom:120px;
    }

    .mb-polygon2-img {
      // display: none;
      &.mobile {
        display: none;
      }

    @include mq("mobile") {
      // width: 94px;
      position: absolute;
      top:-40px;
      right: 40px;

      &.mobile {
        display: block;
      }
    }

    img {
      // width: 100%;
    }
  }
  .mb-polygon3-img {
    z-index:2;
    // display: none;
    &.mobile {
      display: none;
    }

  @include mq("mobile") {
    // width: 94px;
    position: absolute;
    top:200px;
    right: 150px;
    z-index:-1;

    &.mobile {
      display: block;
    }
  }

  img {
    // width: 100%;
  }
}
  }

  .bns-util {
    margin: 30px auto 0;
    padding-bottom:190px;
    width: 790px;
    @include titleStyle();
    @include mq("tablet"){
      width:100%;
    }
    @include mq("mobile"){
      width:100%;
      margin: 0 auto;
      padding-bottom:0;
    }
    &-title h2 {
      margin-bottom:60px;
    }

    &-content-reverse{
      margin: 0 auto;
      display:flex;
      justify-content:space-between;
      align-items: center;
      opacity: 0; 
      @include trsX0Y100; 
      &.active {
        @include trsX0Y0;
        @include trsOp6s;
        opacity: 1;
      }
      @include mq("tablet") {
        justify-content:space-around;
      }
      @include mq("mobile") {
        flex-direction: column-reverse;
        padding-bottom:120px;
      }
      .bns-util-img{
        img{
          width: 300px;
          @include mq("tablet") {
            width: 200px;
          }
          @include mq("mobile") {
            margin-bottom:30px;
            width: 216px;
          }
        }
      }
      .bns-util-textbox{
        text-align: justify;
        width: 440px;
        margin: 100px 0 100px;
        @include mq("mobile") {
          width:288px;
          margin: 0;
        }
        h5{
          font-family: 'GothamBold', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.28;
          letter-spacing: 0.5px;
          color: #5733fe;
          margin-bottom: 20px;
          @include mq("mobile") {
            text-align: center;
          }
        }
        p{
          &.web {
            display: block;
          }
          &.mobile {
            display: none;
          }
          font-family: 'SpoqaHanSansRegular', sans-serif;
          font-size: 12px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.92;
          letter-spacing: 0.33px;
          color: #1d2227;
          margin-bottom:40px;
          @include mq("mobile") {
            &.web {
              display: none;
            }
            &.mobile {
              display: block;
            }
            width: 282px;
            margin-bottom: 0;
            line-height: 1.58;
            letter-spacing: 0.13px;
            text-align: justify;
            margin: auto;
          }
        }
      }
    }

    &-content{
      margin: 0 auto;
      display:flex;
      justify-content:space-between;
      align-items: center;
      opacity: 0; 
      @include trsX0Y100; 
      &.active {
        @include trsX0Y0;
        @include trsOp6s;
        opacity: 1;
      }
      @include mq("tablet") {
        justify-content:space-around;
      }
      @include mq("mobile") {
        flex-direction: column;
        padding-bottom:120px;
      }
      .bns-util-img{

        img{
          width: 300px;
          @include mq("tablet") {
            width: 200px;
          }
          @include mq("mobile") {
            width: 216px;
            margin-bottom:30px;
          }
        }
      }
      .bns-util-textbox{
        // text-align: left;
        width: 440px;
        margin: 100px 0 100px;;
        @include mq("mobile") {
          width:282px;
          margin: 0;
        }
        h5{
          font-family: 'GothamBold', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.28;
          letter-spacing: 0.5px;
          color: #5733fe;
          margin-bottom: 20px;
          @include mq("mobile") {
            text-align: center;
          }
        }
        p{
          &.web {
            display: block;
          }
          &.mobile {
            display: none;
          }
          font-family: 'SpoqaHanSansRegular', sans-serif;
          font-size: 12px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.92;
          letter-spacing: 0.33px;
          color: #1d2227;
          margin-bottom:40px;
          @include mq("mobile") {
            &.web {
              display: none;
            }
            &.mobile {
              display: block;
            }
            width: 284px;
            line-height: 1.58;
            letter-spacing: 0.13px;
            text-align: justify;
            margin-bottom: 0;
            margin: auto;
          }
        }
      }
    }
  }
  
  .bns-vision {
    margin: 30px auto 0;
    padding-bottom: 190px;
    text-align: center;
    @include mq("tablet"){
      width: 100%;
    }
    @include mq("mobile"){
      margin: 0 auto;
      padding-bottom:70px;
    }
    @include titleStyle();
    .bns-vision-group{
      margin-top:50px;
      display: flex;
      justify-content: space-between;
      @include mq("tablet"){
        justify-content: space-around;
      }
      @include mq("mobile"){
        flex-direction: column;
        align-items: center;
      }
      .bns-vision-content{
        @include mq("tablet"){
          width: 150px;
        }
  
        .bns-vision-img{
          img {
            width: 200px;
            margin-bottom: 22px;
            @include mq("tablet"){
              width: 160px;
            }
            @include mq("mobile"){
              width: 180px;
              margin-bottom: 30px;
            }
          }
        }

        .bns-vision-textbox{
          // text-align: center;

          p{
            font-family: 'SpoqaHanSansRegular', sans-serif;
            font-size: 12px;
            line-height: 1.92;
            letter-spacing: 0.33px;
            color: #1d2227;
            text-align: center;
            width: 240px;
            @include mq("tablet"){
              width:160px;;
            }
            @include mq("mobile"){
              margin:0 auto 50px;
              width:240px;;
            }

          }
        }
      }
    } 
  }
  .bns-ecosystem {
    @include titleStyle();
    margin: 30px auto 0;
  
    &-img {
      &-wrap {
              // margin: 100px auto 120px;
              text-align: center;
              width: 100%;
              opacity: 0;
              @include trsX0Y100;
              &.active {
                @include trsX0Y0;
                @include trsOp6s;
                opacity: 1;
              }
              &.mobile {
                display: none;
              }
        
              @include mq("mobile") {
                width: 288px;
                margin: 0 auto;
        
                &.mobile {
                  display: block;
                }
                &.web {
                  display: none;
                }
              }
      }

      width: 100%;
      margin: 0 auto;
      @include mq("tablet") {
        width: 85%;
      }
      // @include mq("mobile") {
      //   width: 70%;
      // }
      img {
        width: 100%;

      }
    }
  }
}

.paper {
  &-wrap {
    width: 100%;
    position: relative;
    margin-top: 100px;
    @include mq("mobile") {
      margin-top: 60px;
    }
  }
  
  position: absolute;
  padding-top: 80px;
  padding-bottom: 70px;
  left: 50%;
  top: 0;
  width: 380px;
  margin-left: -180px;
  background-color: #FFF;
  border-radius: 4px;

  @include mq("mobile") {
    padding-top: 40px;
    width: 200px;
    margin-left: -95px;
    padding-bottom: 60px;
  }

  @include titleStyle();
  &-title {
    opacity: 1;
    transform: none;
  }
  &-link {
    opacity: 0; // jonny
    @include trsX0Y100; // jonny
    // jonny
    &.active {
      @include trsX0Y0;
      @include trsOp6s;
      opacity: 1;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mq("mobile") {
      flex-direction: column;
    }
    a {
      
      display: inline-block;
      width: 190px;
      height:56px;
      padding: 20px 10px 0;
      margin: 10px ;
      // text-align: center;
      font-size: 14px;
      color: #1d2227;
      background: #ffffff;
      letter-spacing:0.39;
      border-radius: 4px;
      box-shadow: 0 2px 6px 0 #d3d5ff;
      // @include trs3s;
      @include mq("mobile") {
        // text-align: center;
        display: block;
        font-size: 12px;
      }

      &:hover {
        background: #d3d5ff;
        color: #FFF;
      }
    }

    // a + a {
    //   border-top: 1px solid $black2;
    // }
  }


}

.roadmap {
  &-wrap {
    width: 100%;
    position: relative;
  }
  
  @include layout();
  @include titleStyle();
  @include mq("tablet") {
    width: 85%;
  }

  @include mq("mobile") {

  }

  &-img {
    // margin: 100px auto 120x;
    text-align: center;
    &.web {
        display: block;
      }
    &.mobile {
      display: none;
    }
    img {
      width: 80%;
      @include mq("mobile") {
        width: 283px;
      }
    }
    opacity: 0;
    @include trsX0Y100;
    &.active {
      @include trsX0Y0;
      @include trsOp6s;
      opacity: 1;

    }

    @include mq("tablet") {
      margin-top: 50px;
    }
    @include mq("mobile") {
      width: 100%;
      margin-top: 10px;
      &.mobile {
        display: block;
      }
      &.web {
        display: none;
      }
    }
  }

  .polygon3-img{
    position: absolute;
    top: -20px;
    right: 0px;
    @media all and (min-width: 1024px) and (max-width: 1366px){
      // width:150px;
      right: 0px;
    }
    @include mq("tablet") {
      &.web {
        display: none;
      }
    }
    @include mq("mobile") {
      &.web {
        display: none;
      }
    }
}
}

.economy {
  &-wrap {
    width: 100%;

  }
  @include layout();
  @include titleStyle();

  width: 790px;

  &-desc {
    display: flex;
    justify-content: space-around;
    opacity: 0;
    @include trsX0Y100;
    &.active {
      @include trsX0Y0;
      @include trsOp6s;
      opacity: 1;
    }
    margin: 0 auto;
    @include mq("tablet") {
      width: 90%;
      justify-content: space-around;
    }
    @include mq("mobile") {
      margin-top: 0;
      flex-wrap: wrap;
    }

    &-structure {
      width: 42%;
      margin: auto;

      @include mq("mobile") {
        width: 270px;
        text-align: center;
        margin: 0 auto;
      }

      &-list {
        width: 100%;
        // border: 1px solid rgba(0, 0, 0 ,.2);

        li {
          width: 100%;
          // border: 1px solid rgba(0, 0, 0 ,.2);
          display: flex;
          border-bottom: 1px solid #ecebff;
          &:nth-child(8){
            border-bottom: none;
          }

          img {
            margin-right: 10px;
            width:6px;
            height:6.9px;
            display:inline;
            margin-top:11px;
            @include mq("mobile") {
              margin-top:9px;
            }
          }
          .th {
            display: block;
            // padding: 5px 12px;
            text-align: left;
            width: 35%;
            font-family: 'SpoqaHanSansBold', sans-serif;
            font-size: 12px;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.67;
            letter-spacing: 0.33px;


            @include mq("tablet") {
              font-size: 11px;
            }

            // border: 1px solid #ecebff
            @include mq("mobile") {
              width: 37%;
              font-family: 'SpoqaHanSansBold', sans-serif;
              font-size: 11px;
              font-style: normal;
              font-stretch: normal;
              line-height: 2.36;
              letter-spacing: 0.3px;
              color: #1d2227;
              padding: 0 14px 0 0;
            }
          }

          .td {
            // padding: 5px 12px;
            display: block;
            width: 65%;
            font-size: 12px;;
            // border: 1px solid rgba(0, 0, 0 ,.2);
            text-align: left;
            font-family: 'SpoqaHanSansRegular', sans-serif;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.67;
            letter-spacing: 0.33px;
            color: #1d2227;
            @include mq("tablet") {
              font-size: 11px;
            }
            @include mq("mobile") {
              width: 63%;
              font-family: 'SpoqaHanSansRegular', sans-serif;
              font-size: 11px;
              font-style: normal;
              font-stretch: normal;
              line-height: 2.36;
              letter-spacing: 0.3px;
              color: #1d2227;
              padding: 0;
            }
          }
        }

      }
    }

    &-graph {
      width: 50%;
      &-img {
        // margin: 100px auto 120x;
        text-align: center;
        &.web {
            display: block;
          }
        &.mobile {
          display: none;
        }
        @include mq("mobile"){
          &.web {
            display: none;
          }
        &.mobile {
          display: block;
        }
        }
      }

      @include mq("mobile") {
        width: 100%;
        // margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
      }

      h3 {
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 30px;

        @include mq("tablet") {
          font-size: 1.6rem;
          margin-bottom: 20px;
        }
        @include mq("mobile") {
          font-size: 1.6rem;
          margin-bottom: 20px;
          margin-top: 30px;
        }
      }



      img {
        width: 85%;
        @include mq("mobile") {
          width: 260px;

        }
      }
    }
  }
}

.team {
  &-wrap {
    width: 100%;
    position: relative;
  }
  @include layout();
  @include titleStyle();
  width:1000px;
  
  padding-top:95px;
  // padding-bottom: 100px;
  z-index: 0;
  @include mq('mobile'){
    padding-bottom: 50px;
  }

  .polygon4-img{
    position: absolute;
    top:500px;
    left: 0px;
    @media all and (min-width: 1023px) and (max-width: 1366px){
      right: 1000px;
    }
    @include mq("tablet") {
      &.web {
        display: none;
      }
    }
    @include mq("mobile") {
      &.web {
        display: none;
      }
    }
}

  .mb-polygon4-img {
    // display: none;
    &.mobile {
      display: none;
    }

  @include mq("mobile") {
    // width: 94px;
    position: absolute;
    top:90px;
    left: 0px;
    // z-index:2;

    &.mobile {
      display: block;
    }
  }
}

  .teamMember{
    &-group{
      margin-bottom: 110px;
      height: 300px;
      position: relative;
      z-index: 0;
    
      @include mq("tablet") {
        width: 90%;
        margin-bottom:120px;;
      }
      @include mq("mobile") {
        width: 100%;
        margin-bottom: 0px;
        height: 350px;
      }
    
      .team-desc {
        z-index: 0;
        &.mobile {
          display: none;
          @include mq("mobile") {
            display: block;
            z-index: 0;
          }
        }
  
        &.web{
          opacity: 0;
          @include trsX0Y100;
          &.active {
            @include trsX0Y0;
            @include trsOp6s;
            opacity: 1;
          }
          @include mq("mobile") {
            margin-top: 0;
          }
      
      
          position: absolute;
          top: 0px;
          right: 0px;
          width: 100%;
          height: 400px;
          overflow: hidden;
      
          @include mq ('tablet'){
            right: -45px;
          }
      
          button {
            display: block;
            width: 10px;
            height: 16px;
            position: absolute;
            top: 185px;
            border: 0;
            border-radius: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100%;
            background-color: #fff;
            z-index: 2;
            outline: none;
      
            // @include mq {
            //   top: calc(50% - 15px);
            // }
      
            &.swiper-prev {
              left: 0px;
              background-image: url("../../images/left.png");
            }
      
            &.swiper-next {
              right: 0;
              background-image: url("../../images/right.png");
            }
          }
      
          ul {
            width: 100%;
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-around;
            @include mq("mobile") {
              flex-direction: column;
              align-items: center;
            }
      
            li {
              // margin-left: .5%;
              width: 260px;
              padding: 10px;
  
              // @include mq("tablet") {
              //   width: 130px;
              // }
      
              .img-box {
                // width:50%;
                // overflow: visible;
                margin-bottom: 20px;
                text-align: center;
                margin: auto;
      
                img {
                  margin: auto;
                  width: 140px;
                  display: block;
                  // @include mq ("mobile"){
                  //   width: 106px;
                  // }
                }
              }
      
              .txt-box {
                // margin-top: 10px;
                width: 100%;
                margin: auto;
                // text-align: left;
      
                strong {
                  font-family: 'SpoqaHanSansBold', sans-serif;
                  font-size: 18px;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.28;
                  letter-spacing: 0.5px;
                  color: #5733fe;
                  display: block;
                  margin-top:18px;
                  margin-bottom:14px;
                  text-align: center;
                }
      
                div {
                  font-family: 'SpoqaHanSansRegular', sans-serif;
                  font-size: 12px;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.92;
                  letter-spacing: 0.33px;
                  color: #1d2227;
                  text-align: center;
                  @include mq ("tablet") {
                    font-size: 10px;
                  }
                }
              }
            }
          }
  
        }
        @include mq('mobile'){
          &.web{
            display: none;
          }
  
          &.mobile{
            position: absolute;
            top: 0px;
            right: 0px;
            width: 100%;
            // right: 15px;
            // width: 90%;
            overflow: hidden;
            text-align: center;
      
            button {
              display: block;
              height: 12px;
              position: absolute;
              top: 185px;
              // z-index: 2;
              border: 0;
              border-radius: 0;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 60%;
              background-color: #fff;
              z-index: 2;
              outline: none;
        
              &.swiper-prev {
                left: 0;
                background-image: url("../../images/left.png");
              }
        
              &.swiper-next {
                right: 0;
                background-image: url("../../images/right.png");
              }
            }
        
            // .ul {
            //   width: 100%;
            
  
              .eachTeamMember {
                width: 50px;
                padding: 0 10px;
                
        
                .img-box {
                  width: 100%;
        
                  img {
                    // width: 100%;
                    display: block;
                    width: 106px;
                    margin: auto;
                  }
                }
        
                .txt-box {
                  // margin-top: 10px;
                  // width: 50%;
                  // text-align: left;
        
                  strong {
                    // width: 260px;
                    font-family: 'SpoqaHanSansBold', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.28;
                    letter-spacing: 0.5px;
                    color: #5733fe;
                    display: block;
                    margin: 25px auto 14px;
                    text-align: center;
                  }
        
                  div {
                    width: 240px;
                    font-family: 'SpoqaHanSansRegular', sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.83;
                    letter-spacing: 0.25px;                   
                    color: #1d2227;
                    text-align: center;
                    margin: auto;
                  }
                }
              }
            
          }
        }
      }
    }
  }

    .advisor {
      padding-top:100px;
      @include mq('mobile') {
        padding-top:50px;
      }

      &-group{
        margin-bottom: 110px;
        height: 300px;
        position: relative;
      
        @include mq("tablet") {
          width: 90%;
          margin-bottom:120px;;
        }
        @include mq("mobile") {
          width: 100%;
          margin-bottom: 0px;
          height: 310px;
        }
      
        .advisor-desc {
          &.mobile {
            display: none;
            @include mq("mobile") {
              display: block;
              z-index: 0;
            }
          }
    
          &.web{
            opacity: 0;
            @include trsX0Y100;
            &.active {
              @include trsX0Y0;
              @include trsOp6s;
              opacity: 1;
            }
            @include mq("mobile") {
              margin-top: 0;
            }
        
        
            position: absolute;
            top: 0px;
            right: 0px;
            width: 100%;
            height: 400px;
            overflow: hidden;
        
            @include mq ('tablet'){
              right: -45px;
            }
        
            button {
              display: block;
              width: 10px;
              height: 16px;
              position: absolute;
              top: 185px;
              // z-index: 2;
              border: 0;
              border-radius: 0;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 100%;
              background-color: #fff;
              z-index: 2;
              outline: none;
        
              // @include mq {
              //   top: calc(50% - 15px);
              // }
        
              &.swiper-prev {
                left: 0px;
                background-image: url("../../images/left.png");
              }
        
              &.swiper-next {
                right: 0;
                background-image: url("../../images/right.png");
              }
            }
        
            ul {
              width: 100%;
              display: flex;
              // flex-wrap: wrap;
              justify-content: space-around;
              @include mq("mobile") {
                flex-direction: column;
                align-items: center;
              }
        
              li {
                // margin-left: .5%;
                width: 260px;
                padding: 10px;
    
                // @include mq("tablet") {
                //   width: 130px;
                // }
        
                .img-box {
                  // width:50%;
                  // overflow: visible;
                  margin-bottom: 20px;
                  text-align: center;
                  margin: auto;
        
                  img {
                    margin: auto;
                    width: 140px;
                    display: block;
                    // @include mq ("mobile"){
                    //   width: 106px;
                    // }
                  }
                }
        
                .txt-box {
                  // margin-top: 10px;
                  width: 100%;
                  // text-align: left;
        
                  strong {
                    font-family: 'SpoqaHanSansBold', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.28;
                    letter-spacing: 0.5px;
                    color: #5733fe;
                    display: block;
                    margin-top:18px;
                    margin-bottom:14px;
                    text-align: center;
                  }
        
                  div {
                    font-family: 'SpoqaHanSansRegular', sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.92;
                    letter-spacing: 0.33px;
                    color: #1d2227;
                    text-align: center;
                    @include mq ("tablet") {
                      font-size: 10px;
                    }
                  }
                }
              }
            }
    
          }
          @include mq('mobile'){
            &.web{
              display: none;
            }
    
            &.mobile{
              position: absolute;
              top: 0px;
              right: 0px;
              width: 100%;
              // right: 15px;
              // width: 90%;
              overflow: hidden;
              text-align: center;
        
              button {
                display: block;
                height: 12px;
                position: absolute;
                top: 185px;
                // z-index: 2;
                border: 0;
                border-radius: 0;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 60%;
                background-color: #fff;
                z-index: 2;
                outline: none;
          
                &.swiper-prev {
                  left: 0;
                  background-image: url("../../images/left.png");
                }
          
                &.swiper-next {
                  right: 0;
                  background-image: url("../../images/right.png");
                }
              }
          
              // .ul {
              //   width: 100%;
              
    
              .eachTeamMember {
                width: 50px;
                padding: 0 10px;
                
        
                .img-box {
                  width: 100%;
        
                  img {
                    // width: 100%;
                    display: block;
                    width: 106px;
                    margin: auto;
                  }
                }
        
                .txt-box {
                  // margin-top: 10px;
                  // width: 50%;
                  // text-align: left;
        
                  strong {
                    // width: 260px;
                    font-family: 'SpoqaHanSansBold', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.28;
                    letter-spacing: 0.5px;
                    color: #5733fe;
                    display: block;
                    margin: 25px auto 14px;
                    text-align: center;
                  }
        
                  div {
                    width: 240px;
                    font-family: 'SpoqaHanSansRegular', sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.83;
                    letter-spacing: 0.25px;                   
                    color: #1d2227;
                    text-align: center;
                    margin: auto;
                  }
                }
              }
              
            }
          }
        }
      }
    }



}

.partner {
  &-wrap {
    width:100%;
    position: relative;
  }  
  @include layout();
  width: 780px;
  
  // @include mq("tablet") {
  //   width: 85%;
  // }

  &-group{
    @include titleStyle();
    margin: 0 auto;
    @include mq("tablet") {
      width: 85%;
    }

    .partner-group1-img{
      opacity: 0;
      @include trsX0Y100;
      &.active {
        @include trsX0Y0;
        @include trsOp6s;
        opacity: 1;
      }
      &.mobile {
        display: none;
      }
      &.web {
        display: block;
      }
      @include mq("mobile"){
        margin:0 auto;
        padding-bottom: 120px;
        width: 90%;
        &.mobile {
          display: block;
        }
        &.web {
          display: none;
        }
      }
      img {
        width:100%;
        margin-bottom:190px;
        @include mq("mobile"){
          margin-bottom: 0;
        }
      }
    }
    .partner-group2-img{
      text-align: center;
      opacity: 0;
      
      @include trsX0Y100;
      &.active {
        @include trsX0Y0;
        @include trsOp6s;
        opacity: 1;
      }
      &.mobile {
        display: none;
      }
      &.web {
        display: block;
      }
      @include mq("mobile"){
        // margin:0 auto;
        // padding-bottom: 120px;
        // width: 90%;
        &.mobile {
          display: block;
        }
        &.web {
          display: none;
        }
      }
      img {
        width:60%;
        @include mq("mobile"){
          width:82%;
        }
      }
    }
  }
    .polygon5-img{
      position: absolute;
      top:700px;
      right: 0px;

      @include mq("tablet") {
        &.web {
          display: none;
        }
      }
      @include mq("mobile") {
        &.web {
          display: none;
        }
      }
  }
}

.press {
  &-wrap {
    background-color: #FFF;
    width:100%;
    height: auto;
  }

  @include layout();
  @include titleStyle();
  position: relative;

  .mb-polygon5-img {
    &.mobile {
      display: none;
    }

  @include mq("mobile") {
    position: absolute;
    top:0px;
    right: 0px;

    &.mobile {
      display: block;
    }
  }

  img {
    // width: 100%;
  }
}

  &-list {
    width: 100%;
    height: auto;
    margin-top: 20px;
    opacity: 0;
    @include trsX0Y100;
    @include mq("mobile") {
      margin-top: 0;
    }

    ul {
      width: 100%;
      height: auto;
      display: flex !important;
      justify-content: space-around;
      flex-wrap: wrap;

      // @include mq("tablet") {
      //   padding: 0 50px;
      // }

      li {
        margin-left: .2%;
        width: 290px;
        margin-bottom: 50px;
        height:auto;
        z-index: 10;

        @include mq("mobile") {
          // height:230px;
          width: 100%;
          margin-top: 0px;
          margin-bottom: 40px;
        }

        .img-box-wrap {
          overflow: hidden;
          cursor: pointer;
          border: 1px solid #cccccc;
          .img-box {
            width: 100%;
            min-height: 179px;
            background-image: url(https://image.ajunews.com/content/image/2019/07/26/20190726101744362430.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            // transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            @include mq("mobile") {
              min-height: 217px;
            }
            img {
              width: 100%;
              display: block;
              z-index: 10;
            }
          }
          &:hover {
            .img-box {
              transform: scale(1.1);
            }
          }
        }

        .txt-box {
          margin-top: 16px;
          // margin-bottom: 30px;
          width: 100%;
          height: auto;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          // align-items: center;
          @include mq('mobile'){
            margin-top: 15px;
          }


            strong {
              font-family: 'SpoqaHanSansBold', sans-serif;
              font-size: 12px;
              line-height: 1.6;
              padding-bottom: 18px;
              word-break: keep-all;
              @include mq('mobile'){
                padding-bottom: 10px;
              }
            }

            .date {
              font-family: 'SpoqaHanSansRegular', sans-serif;
              font-size: 10px;
            }

            .name {
              font-size: 1.4rem;
              line-height: 1.8;
              display: block;
              white-space: nowrap;

              @include mq("mobile") {
                font-size: 1.2rem;
              }
            }
          
        }
        &:nth-child(2) {
          .img-box-wrap {
            .img-box {
              background-image: url(http://img.etnews.com/photonews/1907/1209428_20190725145846_203_0001.jpg);
              
            }
          }
        }
        &:nth-child(3) {
          .img-box-wrap {
            .img-box {
              background-image: url(../../images/press-homeshoppinggogo.png);
            }
          }
        }
        &:nth-child(4) {
          .img-box-wrap {
            .img-box {
              background-image: url(http://image.zdnet.co.kr/2019/05/31/hjan_1F8N4aNhLvGyITd.jpg);
            }
          }
        }
        &:nth-child(5) {
          .img-box-wrap {
            .img-box {
              background-image: url(../../images/press-glancetv.png);
            }
          }
        }
        &:nth-child(6) {
          .img-box-wrap {
            .img-box {
              background-image: url(http://image6.inews24.com/image_gisa/201907/1564035030247_1_151206.jpg);

            }
          }
        }
        &:nth-child(7) {
          .img-box-wrap {
            .img-box {
              background-image: url(../../images/press-temp.png);
            }
          }
        }
        &:nth-child(8) {
          .img-box-wrap {
            .img-box {
              background-image: url(../../images/press-temp.png);
            }
          }
        }
      }
    }

    &.active {
      @include trsX0Y0;
      @include trsOp6s;
      opacity: 1;
    }
    &-paging {
      // margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .count {
        width: calc(100% - 48px);
      }

      a {
        display: block;
        width: 24px;
        height: 24px;

        &.btn-left {
          background: url("../../images/left50.png") no-repeat center center / 8px;

          &:hover {
            background-image: url("../../images/left.png");
          }
        }

        &.btn-right {
          background: url("../../images/right50.png") no-repeat center center / 8px;
          &:hover {
            background-image: url("../../images/right.png");
          }
        }
      }
    }
  }
}

.faq {
  &-wrap {
    background-color: #FFF;
    width:100%;
  }

  @include layout();
  @include titleStyle();
  .faq-title {
    opacity: 1;
    transform: none;
  }

  @include mq("tablet") {
    padding-bottom: 100px;
  }
  @include mq("mobile") {
    padding-bottom: 60px;
  }

  &-list {
    width: 100%;

    @include mq("mobile") {
      margin-top: 30px;
    }

    ul {
      width: 100%;

      @include mq("tablet") {
        padding: 0 50px;
      }

      li {
        width: 100%;
        border-bottom: 0.5px solid rgba(0, 0, 0, .2);

        a {
          color: #1d2227;
          display: block;
          width: 100%;
          padding: 21.5px 30px 14px 30px;
          font-family: 'SpoqaHanSansBold', sans-serif;;
          font-weight: bold;
          font-size: 13px;
          line-height: 1.28;
          letter-spacing: 0.5px;
          position: relative;
          z-index: 10;
          &:after {
            position: absolute;
            top: 33px;
            right: 0;
            content: '';
            width: 12px;
            height: 12px;
            background: url("../../images/down_black.png") no-repeat right center / contain;
            @include trs3s;
            @include trsOriginCenter;
          }
          &.active {
            &:after {
              top: 33px;
              @include arrowRotate;
            }
          }
          @include mq ('mobile'){
            font-size: 13px;
            padding: 21.5px 20px 14px;
            &:after {
              position: absolute;
              top: 24px;
              right: 0;
              content: '';
              width: 8px;
              height: 8px;
              background: url("../../images/down_black.png") no-repeat right center / contain;
              @include trs3s;
              @include trsOriginCenter;
            }
          }
          // @include mq("mobile") {
          //   padding: 21.5px 20px 14px 20px;
          //   font-size: 12px;
          //   &:after {
          //     top: 20px;
          //   }
          //   &.active {
          //     &:after {
          //       top: 20px;
          //     }
          //   }
          // }

          &::before {
            content: "Q.";
            display: block;
            position: absolute;
            left: 0;
          }
        }

        .desc {
          height: 15px;
          opacity: 0;
          width: 100%;
          padding: 0px 20px 0px 20px;
          position: relative;
          @include trs3s;
          p {
            font-size: 12px;
            font-family: 'SpoqaHanSansRegular', sans-serif;;
          }

          &.active {
            height: 42px;
            opacity: 1;
            
          }
          &::before {
            content: "A.";
            display: block;
            position: absolute;
            left: 0;
            font-size: 12px;
          }

          @include mq ('mobile') {
            &.active {
              height: auto;
              opacity: 1;
              margin-bottom:20px;
              
            }
          }

        }
      }
    }
  }
}

.contact {
  &-wrap {
    background-color: #FFF;
    width:100%;
    position: relative;
  }

  @include layout();
  @include titleStyle();
  padding-bottom:100px;
  

  .contact-title {
    opacity: 1;
    transform: none;
  }

    &-sns {
      width: 450px;
      margin: 80px auto 15px;
      display: flex;
      justify-content: space-between;
      // z-index: 10;
  
      @include mq("tablet") {
        width:  450px;
      }
      @include mq("mobile") {
        width:  80%;
      }
  
      a {
        display: block;
        width: 60px;
        height: 60px;
        z-index: 10;
        img{
          width: 60px;
          @include mq("mobile"){
            width: 40px;
          }
        }

    }
  }
    .polygon6-img{

    &.web {
      display: block;
    }
    &.mobile {
      display: none;
    }
      position: absolute;
      bottom: -160px;
      left: 0;


    @include mq("mobile") {
      position: absolute;
      bottom: -150px;
      left: 0px;
      &.web {
        display: none;
      }
      &.mobile {
        display: block;
      }
    }
  
    img {
      // width: 100%;
    }
  }

}

//------------------------------------------------------------------------------
//
// FOOTER
//
//------------------------------------------------------------------------------

.footer {
  &-wrap{
    background: #FFF;
  }
  @include layout();
  padding-top: 50px;
  &-copy {
    width: 100%; 
    


    .copyRight {
      font-family: 'SpoqaHanSansRegular', sans-serif;;
      font-size: 12px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.33px;
      text-align: center;
      color: #848484;

    }

  }

  }




