@import "../../config/init";
@import "../../config/variables";
@import "../../config/mixins";
@import "../../config/animation";

body {
  overflow-x: hidden;
  overflow-y:auto;
}
.loader-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 99;
  .loader {
    width: 100px;
  }
}
.lan-list-none-wrap {
  position: fixed;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.lan-hide-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// jonny
.slick-slider{
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  .slick-arrow {
    position: absolute;
    bottom: -3px;
    width: 24px;
    height: 24px;
    border: 0;
    font-size: 0;
    outline: none;
    @include trs3s;
    &.slick-prev {
      left: 0;
      background: url(../../images/left50.png) no-repeat center center/8px;
      &:hover {
        background-image: url("../../images/left.png");
      }
    }
    &.slick-next {
      right: 0;
      background: url(../../images/right50.png) no-repeat center center/8px;
      &:hover {
        background-image: url("../../images/right.png");
      }
    }
  }
  .slick-slide {
    float: left;
  }
  .slick-dots {
    justify-content: center;
    li {
      width: auto;
      margin-top: 50px !important;
      button {
        display: inline-block;
        width: 8px;
        height: 8px;
        padding: 0;
        margin: 0 3px;
        border: none;
        background: transparent;
        font-size: 0;
        background: $black2;
        border-radius: 50%;
        list-style: none;
      }
      &.slick-active {
        button {
          background-color: #000;
        }
      }
    }
  }
}
// jonny end

//------------------------------------------------------------------------------
//
// HEADER
//
//------------------------------------------------------------------------------
.header {
  &-wrap {
    position: fixed; // jonny
    left: 0; // jonny
    top: 0; // jonny
    width: 100%;
    height: 70px;
    background-color: #000;
    z-index: 10; // jonny
    @include mq("mobile") {
      //position: static;
      height: auto;
    }
  }

  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @include mq("mobile") {
    display: block;
    padding: 0;
  }

  &-logo {
    width: 110px;
    z-index: 9;

    img {
      width: 100%;
    }

    @include mq("tablet") {
      width: 88px;
    }
    @include mq("mobile") {
      display: none;
      width: 210px;
      height: 73px;
      position: absolute;
      margin-left: -105px;
      left: 50%;
      top: 116px;
    }
    &.m {
      display: none;
      animation: slideUp50Animation 1s 0s forwards cubic-bezier(.165, .84, .44, 1);
      animation-duration: 0.8s;
      @include mq("mobile") {
        display: block;
      }
    }
  }

  &-nav {
    width: calc(100% - 110px - 160px);
    text-align: center;
    z-index: 1; // jonny
    @include mq("tablet") {
      width: calc(100% - 70px - 135px);
    }
    @include mq("mobile") {
      position: absolute;
      width: 100%;
      background-color: #FFF;
      left: -100%;
      top: 0;
      transition: all .5s; // jonny
      z-index: 10; // jonny
      &.on {
        left: 0;
      }
    }

    a {
      position: relative; // jonny
      padding: 2px 4px;
      display: inline-block;
      font-size: 1.6rem;
      color: $white5;
      transition: color .5s; // jonny
      -webkit-transition: color .5s; // jonny
      // jonny
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #FFF;
        opacity: 0;
        @include trs3s;
      }
      &:hover, &.active {
        color: #FFF;
        &:after {
          width: 100%;
          opacity: 1;
          @include trs3s;
        }
        @include mq("mobile") {
          color: #000;
          &:after {
            width: 100%;
            opacity: 1;
            @include trs3s;
          }
        }
      }
      // jonny end
      @include mq("tablet") {
        font-size: 1.2rem;
      }
      @include mq("mobile") {
        //padding: 14px 0;
        height: 41px;
        line-height: 40px;
        display: block;
        font-size: 1.4rem;
        color: $black3;
        border-bottom: 1px solid $black2;
        &:after {
          display: none;
        }
      }

      // hailey
      //&.active {
      //  color: #FFF;
      //  border-bottom: 1px solid #FFF;
      //
      //  @include mq("mobile") {
      //    color: #000;
      //    border-bottom: 1px solid $black2;
      //  }
      //}
      // hailey end

      &.menu-btn {
        display: none;

        @include mq("mobile") {
          z-index: 10;
          // hailey
          //position: absolute;
          //left: calc(100% + 15px);
          //top: 10px;
          // hailey end
          border-bottom: none;
          //background: url("../../images/menu_white.png") no-repeat center center / 100%; // hailey
          // jonny
          position: fixed;
          top: 0;
          left: 0;
          width: 42px;
          height: 42px;
          padding: 12px;
          background-color: #000;
          display: flex;
          align-items: center;
          justify-content: center;
          // jonny end
          &.on {
            //left: 15px; // hailey
            //background-image: url("../../images/menu_black.png"); // hailey
            background-color: transparent; // jonny
          }
        }
        // jonny
        .bar-wrap {
          .bar {
            display: block;
            width: 18px;
            height: 2px;
            margin-bottom: 3px;
            padding: 0;
            background-color: #fff;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
          }
        }
        &.on {
          .bar {
            background-color: #4a4a4a;
            &:nth-of-type(1) {
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              /* transform: rotate(45deg); */
              -webkit-transform-origin: 10% 10%;
              transform-origin: 10% 10%;
            }
            &:nth-of-type(2) {
              opacity: 0;
            }
            &:nth-of-type(3) {
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
              -webkit-transform-origin: 10% 90%;
              transform-origin: 10% 90%;
            }
          }
        }
        // jonny end
      }

      &:last-child {
        margin-right: 0;
      }
    }

    a + a {
      margin-right: 3%;

      @include mq("tablet") {
        margin-right: 1.8%;
      }
      @include mq("mobile") {
        margin-right: 0;
      }
    }
  }

  &-btn {
    width: 160px;
    display: flex;
    justify-content: space-between;
    z-index: 1; // jonny
    @include mq("tablet") {
      width: 135px;
    }
    @include mq("mobile") {
      background-color: #FFF;
      width: 100%;
      flex-wrap: wrap;
      position: absolute;
      left: -100%;
      top: 287px;
      padding-bottom: 500px;
      transition: all .5s;

      &.on {
        left: 0;
      }
    }

    > a {
      position: relative; // jonny
      padding: 2px 4px;
      display: inline-block;
      font-size: 1.6rem;
      color: $white5; // jonny
      @include trs3s; // jonny
      // jonny
      //&:after {
      //  content: "";
      //  position: absolute;
      //  bottom: -1px;
      //  left: 0;
      //  width: 0;
      //  height: 1px;
      //  background-color: #FFF;
      //  opacity: 0;
      //  @include trs3s;
      //}
      &:hover, &.active {
        color: #FFF;
        //&:after {
        //  width: 100%;
        //  opacity: 1;
        //  @include trs3s;
        //}
      }
      // jonny end
      @include mq("tablet") {
        font-size: 1.2rem;
      }
      @include mq("mobile") {
        display: block;
        width: 100%;
        padding: 14px 0;
        font-size: 1.4rem;
        color: $black3;
        border-bottom: 1px solid $black2;
        text-align: center;
        // jonny
        &:hover, &.active {
          color: $black3;
        }
        // jonny end
      }

      &.lang {
        padding-right: 20px;
        //background: url("../../images/down_grey.png") no-repeat right center / 12px; // hailey
        @include trs3s; // jonny
        &:after {
          position: absolute;
          top: 2px;
          right: 0;
          content: '';
          width: 12px;
          height: 12px;
          background: url("../../images/down_white.png") no-repeat right center / contain; // jonny
          opacity: .5;
          @include trs3s;
          @include trsOriginCenter;
        }
        &:hover, &.active { // jonny
          &:after {
            opacity: 1;
            background-image: url("../../images/down_white.png"); // jonny
          }
        } // jonny
        // jonny
        &.active {
          &:after {
            top: 2px;
            @include arrowRotate;
          }
        }
        // jonny end
        @include mq("mobile") {
          padding-right: 0;
          //background: url("../../images/down_black.png") no-repeat right 15px center / 12px; // hailey
          // jonny
          &:after {
            top: 14px;
            right: 15px;
            background: url("../../images/down_grey.png") no-repeat right center / contain;
          }
          &:hover, &.active {
            &:after {
              top: 14px;
              background-image: url("../../images/down_grey.png");
            }
          }
          // jonny end
          &.active {
            color: #000;
          }
        }
      }
    }

    &-lang {
      //display: none; // hailey
      width: 130px;
      background-color: #000;
      //border: 1px solid $white2; // hailey
      position: absolute;
      right: 19px; // jonny
      top: 57px; // jonny
      // jonny
      height: 0;
      opacity: 0;
      @include trs4s;
      @include trsOriginTop;
      overflow: hidden;
      // jonny end

      @include mq("tablet") {
        width: 94px;
      }
      @include mq("mobile") {
        width: 100%;
        left: 0;
        top: 84px;
        background-color: #FFF;
      }

      &.active {
        // jonny
        border: 1px solid $white2; //jonny
        opacity: 1;
        max-height: 149px;
        height: 149px;
        overflow: visible;
        // jonny end
        //display: block; // hailey
        // jonny
        @include mq("mobile") {
          border: none;
        }
        // jonny  end
      }

      a {
        display: block;
        width: 100%;
        padding: 12px 0;
        color: $white3;
        font-size: 1.4rem;
        text-align: center;

        @include mq("mobile") {
          display: block;
          width: 100%;
          height: 41px;
          line-height: 40px;
          padding: 0 !important;
          color: $black3;
          border-bottom: 1px solid $black2;
          text-align: center;
        }

        &.active, &:hover { // jonny
          color: #FFF;
          @include trs3s; // jonny
          @include mq("mobile") {
            color: #000;
            border-bottom: 1px solid $black2;
          }
        }
      }

      li + li {
        border-top: 1px solid $white2;
      }
    }
  }
}

//------------------------------------------------------------------------------
//
// CONTAINER
//
//------------------------------------------------------------------------------
.container {
  width: 100%;
}

.main {
  &-wrap {
    margin-top: 70px; // jonny
    @include mq("mobile") {
      margin: 0;
    }
  }

  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 20px 0 50px;

  @include mq("tablet") {
    width: 100%;
  }
  @include mq("mobile") {
    width: 100%;
    height: 560px;
    padding-top: 120px;
  }

  &-img {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    background: url("../../images/main02.png") no-repeat center center / 100%;
    -webkit-animation: spinAnimation 90s infinite linear;
    @include mq("tablet") {
      width: 400px;
    }
    @include mq("mobile") {
      width: 300px;
    }

    img {
      width: 100%;
    }
  }

  &-txt {
    position: absolute;
    top: 175px;
    width: 100%;

    @include mq("tablet") {
      top: 100px;
    }
    @include mq("mobile") {
      top: 215px;
    }

    &-title {
      width: 100%;
      padding-bottom: 240px;
      text-align: center;

      @include mq("tablet") {
        padding-bottom: 80px;
      }
      @include mq("mobile") {
        font-size: 2rem;
        padding-bottom: 90px;
      }

      strong {
        color: #FFF;
        font-size: 6.4rem;

        @include mq("tablet") {
          font-size: 5rem;
        }
        @include mq("mobile") {
          font-size: 2rem;
        }
      }
    }

    &-desc {
      width: 100%;

      p {
        color: #FFF;
        font-size: 1.6rem;
        line-height: 1.8;
        text-align: center;

        @include mq("tablet") {
          font-size: 1.2rem;
          margin-bottom: 60px;
        }
        @include mq("mobile") {
          font-size: 1.2rem;
          margin-bottom: 60px;
          padding: 0 6%;
        }
      }
    }
  }
}

.platform {
  &-wrap {
    background-color: #FFF;
  }
  @include layout();
  @include titleStyle();
  padding-bottom: 300px;

  @include mq("tablet") {
    padding-bottom: 200px;
  }
  @include mq("mobile") {
    padding-bottom: 100px;
  }
  &-title {
    &.active {
      animation: slideUpAnimation 1s 0s forwards cubic-bezier(.165, .84, .44, 1);
      animation-duration: 0.6s;
    }
  }
  &-content {
    ul {
      width: 100%;

      li {
        width: 100%;
        padding-top: 55px;
        // jonny
        opacity: 0;
        @include trsX0Y100;
        &.active {
          @include trsX0Y0;
          @include trsOp6s;
          opacity: 1;
        }
        // jonny end
        @include mq("mobile") {
          padding: 20px;
        }

        .img-box {
          &-wrap {
            position: relative;
            height: 240px;

            @include mq("mobile") {
              height: 100px;
            }
          }

          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          text-align: center;

          @include mq("tablet") {
            img {
              width: 500px;
            }
          }
          @include mq("mobile") {
            img {
              width: 220px;
            }
          }
        }

        .txt-box {
          width: 100%;

          h4 {
            width: 100%;
            padding: 25px 0;
            text-align: center;
            font-size: 2.2rem;
            font-weight: 700;

            @include mq("mobile") {
              padding: 20px 0 10px;
              font-size: 1.6rem;
            }
          }

          p {
            font-size: 1.6rem;
            line-height: 1.6;
            text-align: center;

            @include mq("mobile") {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

.effect {
  &-wrap {
    width: 100%;
    position: relative;
  }
  // jonny
  &-title {
    -webkit-transform: translateX(0) translateY(0) !important;
    -moz-transform: translateX(0) translateY(0) !important;
    -ms-transform: translateX(0) translateY(0) !important;
    -o-transform: translateX(0) translateY(0) !important;
    transform: translateX(0) translateY(0) !important;
    &.active {
      -webkit-transform: translateX(0) translateY(-160px) !important;
      -moz-transform: translateX(0) translateY(-160px) !important;
      -ms-transform: translateX(0) translateY(-160px) !important;
      -o-transform: translateX(0) translateY(-160px) !important;
      transform: translateX(0) translateY(-160px) !important;
      @include mq("mobile") {
        -webkit-transform: translateX(0) translateY(-60px) !important;
        -moz-transform: translateX(0) translateY(-60px) !important;
        -ms-transform: translateX(0) translateY(-60px) !important;
        -o-transform: translateX(0) translateY(-60px) !important;
        transform: translateX(0) translateY(-60px) !important;
      }
    }
  }
  // jonny end
  @include titleStyle();
  width: 750px;
  margin: 0 auto;
  padding: 200px 0 100px;
  background: url("../../images/bg_white.png") no-repeat top -1px center;

  @include mq("tablet") {
    width: 100%;
    padding: 200px 0;
  }
  @include mq("mobile") {
    width: 100%;
    padding: 40px 0 0;
    background-size: 100px;
  }

  h2 {
    position: absolute;
    left: 0;
    top: -160px;

    @include mq("tablet") {
      top: -100px;
    }
    @include mq("mobile") {
      top: -50px;
    }
  }

  &-img {
    &-wrap {
      width: 100%;
      position: relative;
      // jonny
      opacity: 0;
      @include trsX0Y100;
      &.active {
        @include trsX0Y0;
        @include trsOp6s;
        opacity: 1;
      }
      // jonny end
      &.mobile {
        display: none;
      }

      @include mq("mobile") {
        width: 320px;
        margin: 0 auto;

        &.mobile {
          display: block;
        }
        &.web {
          display: none;
        }
      }
    }

    width: 660px;
    margin: 0 auto;
    text-align: center;

    @include mq("mobile") {
      width: 224px;
    }

    &.bot {
      position: absolute;
      left: 50%;
      top: 36%;
      margin-left: -330px;

      @include mq("mobile") {
        top: 0;
        margin-left: -112px;
      }
    }

    img {
      width: 100%;

      @include mq("tablet") {
        width: 600px;
      }
    }
  }
}

.tech {
  &-wrap {
    width: 100%;
  }

  @include layout();
  @include titleStyle(#FFF);

  &-content {
    ul {
      width: 100%;
      margin-top: 150px;

      @include mq("tablet") {
        margin-top: 80px;
        padding: 0 30px;
      }
      @include mq("mobile") {
        margin-top: 30px;
      }

      li {
        width: 100%;
        opacity: 0; // jonny
        @include trsX0Y100; // jonny
        .img-box {
          margin: 0 auto;
          width: 100%;

          @include mq("tablet") {
            width: 400px;
          }

          img {
            width: 100%;
          }
        }

        .txt-box {
          width: 100%;
          margin: 50px 0;
          text-align: center;

          @include mq("mobile") {
            margin: 10px 0 40px;
          }

          strong {
            color: #FFF;
            font-size: 2.2rem;

            @include mq("mobile") {
              font-size: 1.4rem;
            }
          }

          p {
            margin-top: 20px;
            color: #FFF;
            font-size: 1.6rem;
            line-height: 1.8;
            text-align: center;

            @include mq("tablet") {
              font-size: 1.2rem;
            }
            @include mq("mobile") {
              font-size: 1.2rem;
            }
          }
        }
        // jonny
        &.active {
          @include trsX0Y0;
          @include trsOp6s;
          opacity: 1;
        }
        // jonny end
      }
    }
  }
}

.aipx {
  &-wrap {
    background-color: #FFF;
  }
  @include layout();
  @include titleStyle();

  padding-bottom: 220px;

  @include mq("tablet") {
    margin-bottom: 100px;
  }

  &-content {
    margin-top: 50px;
    width: 100%;

    @include mq("tablet") {
      padding: 0 30px;
    }
    @include mq("mobile") {
      margin-top: 30px;
    }

    &-img {
      width: 750px;
      padding: 75px 0;
      margin: 0 auto;
      position: relative;
      background: url("../../images/main01.png") no-repeat center center / 100%, url("../../images/main02.png") no-repeat center center / 100%;

      @include mq("tablet") {
        width: 400px;
        padding: 40px 0;
      }
      @include mq("mobile") {
        width: 280px;
        padding: 0;
      }

      .center {
        width: 600px;
        margin: 0 auto;
        opacity: 0; // jonny
        @include mq("tablet") {
          width: 320px;
        }
        @include mq("mobile") {
          width: 100%;
        }

        img {
          width: 100%;
        }
        // jonny
        &.active {
          animation: scaleUpAnimation 1s 0s forwards cubic-bezier(0.12, 0.4, 0.41, 0.86);
          animation-delay: 1.5s;
        }
        // jonny end
      }

      .side {
        width: 100%;

        li {
          position: absolute;
          width: 120px;
          height: 120px;
          border-radius: 60px;
          background-color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0; // jonny
          @include mq("tablet") {
            width: 70px;
            height: 70px;
            border-radius: 35px;
          }
          @include mq("mobile") {
            width: 70px;
            height: 70px;
            border-radius: 35px;
          }

          &.one {
            left: 22%;
            top: 20%;

            @include mq("mobile") {
              left: 16%;
              top: 12%;
            }
          }
          &.two {
            right: 22%;
            top: 20%;

            @include mq("mobile") {
              right: 16%;
              top: 12%;
            }
          }
          &.three {
            left: 16%;
            top: 50%;

            @include mq("mobile") {
              left: 6%;
            }
          }
          &.four {
            right: 16%;
            top: 50%;

            @include mq("mobile") {
              right: 6%;
            }
          }
          &.five {
            left: 50%;
            bottom: 15%;
            margin-left: -60px;

            @include mq("tablet") {
              margin-left: -35px;
            }
            @include mq("mobile") {
              bottom: 6%;
              margin-left: -35px;
            }
          }

          p {
            text-align: center;
            color: #FFF;
            font-size: 2rem;
            font-weight: 700;

            @include mq("tablet") {
              font-size: 1.2rem;
            }
            @include mq("mobile") {
              font-size: 1.2rem;
            }
          }
        }
        // jonny
        &.active {
          li {
            animation: scaleUpAnimation 0.5s 0s forwards cubic-bezier(0.12, 0.4, 0.41, 0.86);
            &.one {
              animation-delay: 0.3s;
            }
            &.two {
              animation-delay: 1.2s;
            }
            &.three {
              animation-delay: 0.6s;
            }
            &.four {
              animation-delay: 1s;
            }
            &.five {
              animation-delay: 0.9s;
            }
          }
        }
        // jonny end
      }
    }

    &-txt {
      width: 100%;
      margin-top: 50px;
      opacity: 0; // jonny
      @include trsX0Y100; // jonny
      // jonny
      &.active {
        @include trsX0Y0;
        @include trsOp6s;
        opacity: 1;
      }
      // jonny end
      @include mq("mobile") {
        margin-top: 30px;
      }

      p {
        text-align: center;
        font-size: 1.6rem;

        @include mq("tablet") {
          font-size: 1.2rem;
        }
        @include mq("mobile") {
          font-size: 1.2rem;
        }
      }
    }
  }

  &-desc {
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    opacity: 0; // jonny
    @include trsX0Y100; // jonny
    // jonny
    &.active {
      @include trsX0Y0;
      @include trsOp6s;
      opacity: 1;
    }
    // jonny end
    @include mq("tablet") {
      margin-top: 80px;
      padding: 0 30px;
    }
    @include mq("mobile") {
      margin-top: 50px;
      flex-wrap: wrap;
    }

    &-structure {
      width: 38%;

      @include mq("mobile") {
        width: 100%;
      }

      h3 {
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 30px;

        @include mq("tablet") {
          font-size: 1.6rem;
          margin-bottom: 20px;
        }
        @include mq("mobile") {
          font-size: 1.6rem;
          margin-bottom: 20px;
        }
      }

      &-list {
        width: 100%;
        li {
          width: 100%;
          border-bottom: 1px solid rgba(0, 0, 0 ,.2);
          display: flex;

          .th {
            display: block;
            padding: 12px 0;
            width: 50%;
            font-size: 1.6rem;

            @include mq("tablet") {
              font-size: 1.2rem;
            }
            @include mq("mobile") {
              font-size: 1.2rem;
            }
          }

          .td {
            padding: 12px 0;
            display: block;
            width: 50%;
            font-size: 1.6rem;

            @include mq("tablet") {
              font-size: 1.2rem;
            }
            @include mq("mobile") {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    &-graph {
      width: 60%;

      @include mq("mobile") {
        width: 100%;
        margin-top: 50px;
      }

      h3 {
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 30px;

        @include mq("tablet") {
          font-size: 1.6rem;
          margin-bottom: 20px;
        }
        @include mq("mobile") {
          font-size: 1.6rem;
          margin-bottom: 20px;
          margin-top: 30px;
        }
      }

      &-img {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }
}

.paper {
  &-wrap {
    width: 100%;
    position: relative;
  }

  position: absolute;
  padding-top: 80px;
  left: 50%;
  top: 0;
  width: 380px;
  margin-left: -190px;
  background-color: #FFF;

  @include mq("mobile") {
    padding-top: 40px;
    width: 160px;
    margin-left: -80px;
  }

  @include titleStyle();
  // jonny
  &-title {
    opacity: 1;
    transform: none;
  }
  // jonny end
  &-link {
    margin-top: 130px;

    @include mq("mobile") {
      margin-top: 60px;
    }

    a {
      display: block;
      width: 100%;
      padding: 20px 0;
      text-align: center;
      font-size: 1.6rem;
      color: $black3;
      @include trs3s; // jonny
      @include mq("mobile") {
        padding: 10px 0;
        font-size: 1.4rem;
      }

      &:hover {
        color: #000;
      }
    }

    a + a {
      border-top: 1px solid $black2;
    }
  }

}

.roadmap {
  @include layout();
  @include titleStyle(#FFF);

  padding-top: 650px;

  @include mq("tablet") {
    padding-top: 650px;
  }
  @include mq("mobile") {
    padding-top: 350px;
  }

  &-img {
    margin: 80px auto 0;
    width: 630px;
    text-align: center;
    opacity: 0; // jonny
    @include trsX0Y100; // jonny
    // jonny
    &.active {
      @include trsX0Y0;
      @include trsOp6s;
      opacity: 1;
    }
    // jonny end
    img {
      width: 100%;
    }

    @include mq("tablet") {
      margin-top: 50px;
      background-size: 559px;
    }
    @include mq("mobile") {
      width: 100%;
      margin-top: 30px;
      background-size: 290px;

      img {
        width: 290px;
      }
    }
  }
}

.team {
  &-wrap {
    background-color: #FFF;
  }

  @include titleStyle();

  width: 94%;
  margin: 0 auto;
  padding: 100px 0;

  @include mq("tablet") {
    width: 100%;
    padding: 60px 0;
  }
  @include mq("mobile") {
    width: 100%;
    padding: 50px 6%;
  }

  &-desc {
    width: 100%;
    margin-top: 20px;

    @include mq("mobile") {
      margin-top: 0;
    }

    ul {
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      @include mq("tablet") {
        margin-top: 20px;
      }
      @include mq("mobile") {
        margin-top: 10px;
      }

      @include mq("tablet") {
        padding: 0 50px;
      }

      li {
        margin-top: 10px;
        margin-left: .5%;
        width: 9.5%;

        @include mq("tablet") {
          width: 19%;
          margin-left: 1%;
        }
        @include mq("mobile") {
          width: 24%;
          margin-left: 1%;
        }

        .img-box {
          width: 100%;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            display: block;
          }
        }

        .txt-box {
          margin-top: 10px;
          width: 100%;
          text-align: center;

          strong {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.6;
            display: block;

            @include mq("mobile") {
              font-size: 1.4rem;
            }
          }

          em {
            font-size: 1.4rem;

            @include mq("mobile") {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

.partners {
  &-wrap {
    background-color: #FFF;
  }

  @include layout();
  @include titleStyle();
  padding-bottom: 0;

  @include mq("tablet") {
    padding: 0;
  }

  @include mq("mobile") {
    padding: 0;
  }

  &-logo {
    width: 100%;

    &.mb50 {
      margin-bottom: 80px;

      @include mq("mobile") {
        margin-bottom: 50px;
      }
    }

    ul {
      margin-top: 90px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      @include mq("tablet") {
        margin: 50px auto 0;
        width: 470px;
      }
      @include mq("mobile") {
        margin: 30px auto 0;
        width: 125px;
      }

      li {
        width: 26%;
        text-align: center;
        margin-bottom: 50px;

        &.nbp {
          width: 280px;

          @include mq("tablet") {
            width: 200px;
          }
          @include mq("mobile") {
            width: 125px;
          }
        }

        &.uzbit {
          width: 250px;

          @include mq("tablet") {
            width: 180px;
          }
          @include mq("mobile") {
            width: 125px;
          }
        }

        @include mq("mobile") {
          width: 100%;
          margin-bottom: 20px;
        }

        &:last-child {
          margin-left: -25%;

          @include mq("mobile") {
            margin-left: 0;
          }
        }

        img {
          width: 75%;
        }
      }
    }
  }
}

.media {
  &-wrap {
    background-color: #FFF;
  }

  @include layout();
  @include titleStyle();

  &-list {
    width: 100%;
    margin-top: 20px;
    opacity: 0; // jonny
    @include trsX0Y100; // jonny
    @include mq("mobile") {
      margin-top: 0;
    }

    ul {
      width: 100%;
      display: flex !important; // jonny
      justify-content: space-between;
      flex-wrap: wrap;

      @include mq("tablet") {
        padding: 0 50px;
      }

      li {
        margin-top: 80px;
        width: 48%;

        @include mq("mobile") {
          width: 100%;
          margin-top: 30px;
        }

        .img-box-wrap {
          overflow: hidden;
          cursor: pointer;
          border: 1px solid #cccccc;
          .img-box {
            width: 100%;
            min-height: 237px;
            background-image: url(../../images/media6.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            @include mq("mobile") {
              min-height: 217px;
            }
            img {
              width: 100%;
              display: block;
            }
          }
          &:hover {
            .img-box {
              transform: scale(1.1);
            }
          }
        }

        .txt-box {
          margin-top: 10px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .left {
            width: 80%;

            strong {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.6;
              word-break: keep-all;
              @include mq("mobile") {
                font-size: 1.4rem;
              }
            }
          }

          .right {
            width: 20%;
            text-align: right;

            .date,
            .name {
              font-size: 1.4rem;
              line-height: 1.8;
              display: block;
              white-space: nowrap;

              @include mq("mobile") {
                font-size: 1.2rem;
              }
            }
          }
        }
        &:nth-child(2) {
          .img-box-wrap {
            .img-box {
              background-image: url(../../images/media5.png);
            }
          }
        }
        &:nth-child(3) {
          .img-box-wrap {
            .img-box {
              background-image: url(../../images/media4.png);
            }
          }
        }
        &:nth-child(4) {
          .img-box-wrap {
            .img-box {
              background-image: url(../../images/media1.jpeg);
            }
          }
        }
        &:nth-child(5) {
          .img-box-wrap {
            .img-box {
              background-image: url(../../images/media3.png);
            }
          }
        }
        &:nth-child(6) {
          .img-box-wrap {
            .img-box {
              background-image: url(../../images/media2.jpg);
            }
          }
        }
      }
    }

    // jonny
    &.active {
      @include trsX0Y0;
      @include trsOp6s;
      opacity: 1;
    }
    // jonny end
    &-paging {
      margin-top: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .count {
        width: calc(100% - 48px);
      }

      a {
        display: block;
        width: 24px;
        height: 24px;

        &.btn-left {
          background: url("../../images/left50.png") no-repeat center center / 8px;

          &:hover {
            background-image: url("../../images/left.png");
          }
        }

        &.btn-right {
          background: url("../../images/right50.png") no-repeat center center / 8px;
          &:hover {
            background-image: url("../../images/right.png");
          }
        }
      }
    }
    //@include paging();
  }
}

.faq {
  &-wrap {
    background-color: #FFF;
  }

  @include layout();
  @include titleStyle();
  // jonny
  .faq-title {
    opacity: 1;
    transform: none;
  }
  // jonny end
  padding-bottom: 200px;

  @include mq("tablet") {
    padding-bottom: 100px;
  }
  @include mq("mobile") {
    padding-bottom: 60px;
  }

  &-list {
    width: 100%;

    @include mq("mobile") {
      margin-top: 30px;
    }

    ul {
      width: 100%;

      @include mq("tablet") {
        padding: 0 50px;
      }

      li {
        width: 100%;
        border-bottom: 0.5px solid rgba(0, 0, 0, .2);

        a {
          display: block;
          width: 100%;
          padding: 30px 20px 30px 30px;
          font-size: 1.6rem;
          position: relative;
          // background: url("../../images/down_black.png") no-repeat right center / 12px; // hailey
          // jonny
          &:after {
            position: absolute;
            top: 33px;
            right: 0;
            content: '';
            width: 12px;
            height: 12px;
            background: url("../../images/down_black.png") no-repeat right center / contain; // jonny
            @include trs3s;
            @include trsOriginCenter;
          }
          &.active { // jonny
            &:after {
              top: 33px;
              @include arrowRotate;
            }
          } // jonny
          // jonny end
          @include mq("mobile") {
            padding: 20px;
            font-size: 1.2rem;
            &:after {
              top: 20px;
            }
            &.active {
              &:after {
                top: 20px;
              }
            }
          }

          &::before {
            content: "Q.";
            display: block;
            position: absolute;
            left: 0;
          }

          // hailey
          //&.active {
          //  background-image: url("../../images/up_black.png");
          //}
          // hailey end
        }

        .desc {
          //display: none; // hailey
          height: 0; // jonny
          opacity: 0; // jonny
          width: 100%;
          @include trs3s; // jonny
          p {
            font-size: 1.4rem;

            @include mq("mobile") {
              font-size: 1.2rem;
            }
          }

          &.active {
            height: 62px; // jonny
            opacity: 1; // jonny
            //display: block; // hailey
          }
        }
      }
    }
  }
}

//------------------------------------------------------------------------------
//
// FOOTER
//
//------------------------------------------------------------------------------
.footer {
  @include layout();
  padding-top: 150px;
  position: relative;

  @include mq("tablet") {
    padding-top: 50px;
  }
  @include mq("mobile") {
    padding-top: 50px;
  }

  &-sns {
    width: 540px;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -270px;
    display: flex;
    justify-content: space-between;

    @include mq("tablet") {
      width: 340px;
      margin-left: -170px;
      top: -25px;
    }
    @include mq("mobile") {
      width: 200px;
      margin-left: -100px;
      top: -15px;
    }

    a {
      display: block;
      width: 60px;
      height: 60px;
      background-color: #000;
      border: 2px solid #FFF;
      border-radius: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 60%;
      @include trs3s; // jonny
      @include mq("tablet") {
        width: 50px;
        height: 50px;
      }
      @include mq("mobile") {
        width: 30px;
        height: 30px;
      }

      &.ico-tele {
        background-image: url("../../images/ico_telegram.png");
        // jonny
        &:hover {
          background-image: url("../../images/ico_telegram_hover.png");
        }
        // jonny end
      }

      &.ico-medium {
        background-image: url("../../images/ico_medium.png");
        // jonny
        &:hover {
          background-image: url("../../images/ico_medium_hover.png");
        }
        // jonny end
      }

      &.ico-twitter {
        background-image: url("../../images/ico_twitter.png");
        // jonny
        &:hover {
          background-image: url("../../images/ico_twitter_hover.png");
        }
        // jonny end
      }

      &.ico-youtube {
        background-image: url("../../images/ico_youtube.png");
        // jonny
        &:hover {
          background-image: url("../../images/ico_youtube_hover.png");
        }
        // jonny end
      }

      &.ico-kakaco {
        background-image: url("../../images/ico_kakao.png");
        // jonny
        &:hover {
          background-image: url("../../images/ico_kakao_hover.png");
        }
        // jonny end
      }
    }
  }

  &-copy {
    width: 100%;
    p {
      color: #FFF;
      font-size: 1.6rem;

      @include mq("tablet") {
        font-size: 1.2rem;
        padding-left: 4%;
      }
      @include mq("mobile") {
        font-size: 1.2rem;
        padding-left: 4%;
      }
    }
  }
}